@use "sass:map";
/** Components which are available globally */
@use "components/button";
@use "components/command-bar";
@use "components/divider";
@use "components/link";
@use "components/modal";
@use "components/navigation";
@use "components/phase-tag";
@use "components/skeleton";

@import 'shared/variables';

::-webkit-scrollbar {
  display: none
}

body {
  font-family: map.get($font, "sans-with-fallback");
  font-weight: 400;
}

#loading-bar {
  width: 100%;
  height: 5px;
  background-color: #000000;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5; /* Start with semi-transparent bar */
  animation: breathe 2s ease-in-out infinite;
}

@keyframes breathe {
  0%, 100% {
      height: 5px;
      opacity: 0.5;
  }
  50% {
      height: 10px;
      opacity: 0.7;
  }
}
