/** Font face definitions **/
/** Regular font path: public/font/regular **/
/** Mono font path: public/font/mono **/
/** Font filename format: basiersquare-bold-webfont.woff2 **/
/** Font family format: Basier Square **/
:root {
  --rff: '"BasierSquare"';
  --mff: '"BasierSquare Mono"';
}

@font-face {
  font-family: var(--rff);
  src: url('/public/font/regular/basiersquare-regular-webfont.woff2') format('woff2'),
    url('/public/font/regular/basiersquare-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: var(--rff);
  src: url('/public/font/regular/basiersquare-medium-webfont.woff2') format('woff2'),
    url('/public/font/regular/basiersquare-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: var(--rff);
  src: url('/public/font/regular/basiersquare-semibold-webfont.woff2') format('woff2'),
    url('/public/font/regular/basiersquare-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: var(--rff);
  src: url('/public/font/regular/basiersquare-bold-webfont.woff2') format('woff2'),
    url('/public/font/regular/basiersquare-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/** Italics **/
@font-face {
  font-family: var(--rff);
  src: url('/public/font/regular/basiersquare-regularitalic-webfont.woff2') format('woff2'),
    url('/public/font/regular/basiersquare-regularitalic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: var(--rff);
  src: url('/public/font/regular/basiersquare-mediumitalic-webfont.woff2') format('woff2'),
    url('/public/font/regular/basiersquare-mediumitalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: var(--rff);
  src: url('/public/font/regular/basiersquare-semibolditalic-webfont.woff2') format('woff2'),
    url('/public/font/regular/basiersquare-semibolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: var(--rff);
  src: url('/public/font/regular/basiersquare-bolditalic-webfont.woff2') format('woff2'),
    url('/public/font/regular/basiersquare-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

/** Mono **/
@font-face {
  font-family: var(--mff);
  src: url('/public/font/mono/basiersquaremono-regular-webfont.woff2') format('woff2'),
    url('/public/font/mono/basiersquaremono-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: var(--mff);
  src: url('/public/font/mono/basiersquaremono-medium-webfont.woff2') format('woff2'),
    url('/public/font/mono/basiersquaremono-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: var(--mff);
  src: url('/public/font/mono/basiersquaremono-semibold-webfont.woff2') format('woff2'),
    url('/public/font/mono/basiersquaremono-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: var(--mff);
  src: url('/public/font/mono/basiersquaremono-bold-webfont.woff2') format('woff2'),
    url('/public/font/mono/basiersquaremono-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/** Mono Italics **/
@font-face {
  font-family: var(--mff);
  src: url('/public/font/mono/basiersquaremono-regularitalic-webfont.woff2') format('woff2'),
    url('/public/font/mono/basiersquaremono-regularitalic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: var(--mff);
  src: url('/public/font/mono/basiersquaremono-mediumitalic-webfont.woff2') format('woff2'),
    url('/public/font/mono/basiersquaremono-mediumitalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: var(--mff);
  src: url('/public/font/mono/basiersquaremono-semibolditalic-webfont.woff2') format('woff2'),
    url('/public/font/mono/basiersquaremono-semibolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: var(--mff);
  src: url('/public/font/mono/basiersquaremono-bolditalic-webfont.woff2') format('woff2'),
    url('/public/font/mono/basiersquaremono-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}