@use "sass:map";
@import '../shared/variables';

.skeleton {
  $b1: 1 0 0;
  $b3: .924169 .00108 197.138;
  $opacity: 1;
  height: 1rem;
  border-radius: map.get($rounded, "sm");
  will-change: background-position;
  background-color: oklch($b3 / $opacity);
  background-image: linear-gradient(105deg, transparent 0%, transparent 40%, oklch($b1) 50%, transparent 60%, transparent 100%);
  background-position-x: -50%;
  background-repeat: no-repeat;
  background-size: 200%;
  animation: 1.8s ease-in-out infinite skeleton
}

@media (prefers-reduced-motion) {
  .skeleton {
    animation-duration: 15s
  }
}

@keyframes skeleton {
  0% {
    background-position: 150%
  }

  to {
    background-position: -50%
  }
}